/* You can add global styles to this file, and also import other style files */
/* @import '../node_modules/bootstrap/dist/css/bootstrap.min.css'; */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/@fortawesome/fontawesome-free/css/all.min.css';
@import '../node_modules/alertifyjs/build/css/alertify.css';
@import '../node_modules/alertifyjs/build/css/themes/bootstrap.css';

.ng-select .ng-select-container {
    min-height: calc(2.25rem + 2px);
}

.dropdown-menu {
    max-height: 97vh;
    overflow-y: auto;
    z-index: 1040;
}

body {
    height: 100vh;
    padding-top: 4rem;
}

form {
    max-width: 25rem;
}

nav a {
    color: #999;
    transition: ease-in-out color .15s;
  }

nav .active, nav a:hover {
    color: #111;
    text-decoration: none;
}

tr.owner {
    background-color: #e7f6fb;
}
tr.coowner {
    background-color: #f6ddf5;
}
tr.shared {
    background-color: #f6e9cf;
}