<!-- <div class="btn-group" role="group">
    <button type="button" class="btn btn-outline-primary">
        <i class="fas fa-chevron-left"></i>
    </button>
    <div class="dropdown">
        <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownPeriod" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false"><i class="fas fa-calendar"></i> July</button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownPeriod">
            <a class="dropdown-item" href="#" (click)="false">July</a>
            <a class="dropdown-item" href="#" (click)="false">3 months</a>
            <a class="dropdown-item" href="#" (click)="false">2019</a>
            <a class="dropdown-item" href="#" (click)="false">All Time</a>
        </div>
    </div>
    <button type="button" class="btn btn-outline-primary">
        <i class="fas fa-chevron-right"></i>
    </button>
</div> -->
<ul class="list-group list-group-horizontal">
    <li class="list-group-item"><a href="#" (click)="false"><i class="fas fa-chevron-left"></i></a></li>
    <li class="list-group-item"><i class="fas fa-calendar"></i> July</li>
    <li class="list-group-item"><a href="#" (click)="false"><i class="fas fa-chevron-right"></i></a></li>
</ul>
